/*body {
	max-width: 960px;
}*/
h1, h2, h3, span {
	font-family: 'Press Start 2P', cursive;
}
header {
	background-image: url(../images/background.png);
	/*background-color: rgb(100,200,255);*/
	color: white;
}
.title {
	/*text-align: center;*/
	text-shadow: 3px 3px 0 black;
}
ul {
	list-style-image: url(../images/heart-small.png);
}
header li {
	float: right;
	margin: 0 45px;
	width: 10%;
	margin-left: 10px;
	padding-top: 40px;
}
.header a {
	display: block;
}
a {
	font-family: 'Press Start 2P', cursive;
	color: white;
}
.col-md-6 img {
	float: left;
}
.col-md-6 p {
	text-align: justify;
	text-justify: inter-word;
}
footer {
	font-family: 'Press Start 2P', cursive;
	color: white;
	text-align: center;
	background-color: #666;
	padding: 2px;
}
.left {
	background-color: rgb(100,255,100);

}
.right {
	/*background-color: green;*/
	width: 50px;
	height: auto;
	margin: 10px;
}
.row {
	border: 1px solid black;
}
.pic {
	width: 50px;
	height: auto;
	margin: 5px;
}
.sean {
	margin: 10px;
	box-shadow: 5px 5px 0px black;
}
.pic {
	float: left;
	width: 200px;
	height: 150px;
	margin: 10px;
}
.caption {
	position: relative;
	z-index: 1;	
	top: -20px;
	left: 0px;
	height: 20px;
	width: 190px;
	padding: 10px;
	font-size: .75em;
	text-align: center;
	color: white;
	/*text-decoration: none;*/
}
@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 640px) {
	header {
		position: static;
		height: 60px;
		width: 100%;
		background-image: none;

		background-color: rgb(100,200,255);
	}
	.left {
		width: 100%;
	}
	.h2 {
		font-family: 'Press Start 2P', cursive;
		margin: 0;
		font-size: 1em;
	}
}